<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
  <div th:replace="~{header::nav}"></div>
  <form method="post">
    <div>
        <label for="name">NAME</label><input type="text" id="name" name="name">
    </div>
      <div>
          <label for="username">USERNAME</label><input type="text" id="username" name="username">
      </div>
      <div>
          <label for="password">PASSWORD</label><input type="password" id="password" name="password">
      </div>
      <input type="submit" value="OK">
  </form>
  <table>
    <tr><td>ID</td><th>NAME</th><th>USERNAME</th><th></th></tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.username}"></td>
        <td><button th:onclick="|onDelete(${user.id})|">DELETE</button></td>
    </tr>
  </table>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      const onDelete = async (id) => {
          try {
              const response = await axios.delete(`/api/users/${id}`);
              console.log('삭제 성공:', response.data);
              location.reload();
          } catch (error) {
              console.error('삭제 실패:', error);
              alert('삭제 실패');
          }
      }
  </script>
</body>
</html>